# LogicStart Megawing with Wing C only plugged into the Wing B socket
NET clk LOC = "P89" ;
NET switches(7) LOC = "P85" ;
NET switches(6) LOC = "P83" ;
NET switches(5) LOC = "P78" ;
NET switches(4) LOC = "P71" ;
NET switches(3) LOC = "P68" ;
NET switches(2) LOC = "P66" ;
NET switches(1) LOC = "P63" ;
NET switches(0) LOC = "P61" ;
#NET LEDs(0) LOC = "P58" ;
#NET LEDs(1) LOC = "P54" ;
#NET LEDs(2) LOC = "P41" ;
#NET LEDs(3) LOC = "P36" ;
#NET LEDs(4) LOC = "P34" ;
#NET LEDs(5) LOC = "P32" ;
#NET LEDs(6) LOC = "P25" ;
#NET LEDs(7) LOC = "P22" ; 
NET InO	LOC = "P91" ;
#NET InO(1)	LOC = "P92" ;
#NET InO(2)	LOC = "P94" ;
#NET InO(3)	LOC = "P95" ;
#NET InO(4)	LOC = "P98" ;
#NET InO(5)	LOC = "P2" ;
#NET InO(6)	LOC = "P3" ;
#NET InO(7)	LOC = "P4" ;
#NET InO(8)	LOC = "P5" ;
#NET InO(9)	LOC = "P9" ;
#NET InO(10)	LOC = "P10" ;
#NET InO(11)	LOC = "P11" ;
#NET InO(12)	LOC = "P12" ;
#NET InO(13)	LOC = "P15" ;
#NET InO(14)	LOC = "P16" ;
#NET InO(15)	LOC = "P17" ;